
<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--Bootstrap-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="css/navStilo.css">
    <link rel="stylesheet" href="css/cadastroStilo.css">
    <link rel="icon" href="img/logotipo-light.svg">


    <title>Cadastrar</title>
</head>
<body>
    
    <!--Barra de Navegação-->
    <nav class="navbar navbar-dark bg-dark">
        
        <div class="container-logo">
            <div class="divtech-logo">
                <img class="logotipo" src="img/logotipo-light.svg" alt="DevTech">
            </div>
            
            <div class="divtech-marca">
                <p class="display-5 text-light">DivTech</p>
            </div>
        </div>
       
        <div class="container-btn">
            <button class="btn btn-warning"><a href="home.html" class="text-dark">Home</a></button>
            <button class="btn btn-warning"><a href="cadastro.html" class="text-dark">Cadastre-se</a></button>
            <button class="btn btn-warning"><a href="login.html" class="text-dark">Login</a></button>
        
        </div>
       
    </nav>
   
        <section class="painelcadastro">
            <div class="img-stilo">
                <img  class="maquina-votacao" src="img/hero-img.png" alt="Nosso sistema de votacao">
            </div>
            <div class="form-cadastro">
                <form class="stilo-form" action="" method="post">

                    <p class="display-5">Cadastre-se</p>
                    
                    <input class="stilo-input" type="text" name="nome" value="" required>
                    <sub><label class="stilo-label" for="">Nome:</label></sub>
                    
                    <input class="stilo-input" type="mail" name="email" value="" required>
                    <sub><label class="stilo-label"for="">Email:</label></sub>
                  
                    <input class="stilo-input" type="password" name="password" value="" required>
                    <sub><label class="stilo-label" for="">Senha:</label></sub> 

                    <button class="btn btn-danger stilo-btn" type="submit">Cadastrar</button>
                   
                </form>
            </div>
        </section>
    </div>

    
</body>
</html>