<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--Bootstrap-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="css/navStilo.css">
    <link rel="stylesheet" href="css/votacaoStilo.css">


    <title>CPainel</title>
</head>
<body>

<!--Barra de Navegação-->
<nav class="navbar navbar-dark bg-dark">

    <div class="container-logo">
        <div class="divtech-logo">
            <img class="logotipo" src="img/logotipo-light.svg" alt="DevTech">
        </div>

        <div class="divtech-marca">
            <p class="display-5 text-light">DivTech</p>
        </div>
    </div>

    <div class="container-btn">
        <button class="btn btn-warning"><a href="/" class="text-dark">Sair</a></button>
    </div>

</nav>
<div class="conteiner-conteudo">
    <section class="apresentacao">
        <div class="card" >
            <div class="card-body">
                <h5 class="card-title text-center">Le Jardins</h5>
                <p class="card-text text-center">Numero de Votos:</p>
                <div th:each="evento : ${listarVotos1}" >
                    <h1 class="display-2 text-center"th:text="${evento.voto}"></h1>
                </div>
                <p class="card-text text-center">Empreendimento 5 Estrelas</p>
                <a href="#" class="btn btn-primary">Zerar</a>
            </div>
        </div>

        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title text-center">Evian</h5>
                <p class="card-text text-center">Numero de Votos:</p>
                <div th:each="evento : ${listarVotos2}" >
                    <h1 class="display-2 text-center"th:text="${evento.voto}"></h1>
                </div>
                <p class="card-text text-center">Empreendimento 5 Estrelas</p>
                <a href="#" class="btn btn-primary">Zerar</a>
            </div>
        </div>

        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title text-center">Olimpia Thermas</h5>
                <p class="card-text text-center">Numero de Votos:</p>
                <div th:each="evento : ${listarVotos3}" >
                    <h1 class="display-2 text-center"th:text="${evento.voto}"></h1>
                </div>
                <p class="card-text text-center">Empreendimento 5 Estrelas</p>
                <a href="#" class="btn btn-primary">Zerar</a>
            </div>
        </div>

    </section>

</div>

<div class="tebelaContainer barScroll">
    <div class="container table-overflow " width="100%" >
        <p class="display-6 text-center">Usuarios</p>
        <table class="table table-striped table-bordered table-sm table-light " cellspacing="0" width="100%">
            <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Nome:</th>
                <th scope="col">Email:</th>
                <th scope="col">PassWord</th>
            </tr>
            </thead>
            <tbody >
            <tr  th:each="evento : ${listUser}">
                <th th:text="${evento.id}"></th>
                <td th:text="${evento.nome}"></td>
                <td th:text="${evento.email}"></td>
                <td th:text="${evento.password}"></td>
            </tr>

            </tbody>
        </table>
    </div>

</div>


</body>
</html>