<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--Bootstrap-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="css/navStilo.css">
    <link rel="stylesheet" href="css/votacaoStilo.css">
    <link rel="stylesheet" href="css/cadastroStilo.css">



    <title>Votação</title>
</head>
<body>
    
    <!--Barra de Navegação-->
    <nav class="navbar navbar-dark bg-dark">
        
        <div class="container-logo">
            <div class="divtech-logo">
                <img class="logotipo" src="img/logotipo-light.svg" alt="DevTech">
            </div>
            
            <div class="divtech-marca">
                <p class="display-5 text-light">DivTech</p>
            </div>
        </div>
       
        <div class="container-btn">
            <button class="btn btn-warning"><a href="/" class="text-dark">Home</a></button>
            <button class="btn btn-warning"><a href="/cadastroUser" class="text-dark">Cadastre-se</a></button>
            <button class="btn btn-warning"><a href="/" class="text-dark">Sair</a></button>
        </div>
       
    </nav>
    <div class="conteiner-conteudo">
        <section class="apresentacao">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                  <h5 class="card-title text-center">Empreendimento 01</h5>
                  <img class="card-img-top" src="../img/01.jpg" alt="Card image cap">
                    <form method="post">
                        <input  class="stilo-input stiloNone" type="text" name="nome" placeholder="Le Jardim" value="Le Jardim" readonly>
                        <input class="stilo-input stiloNone display-none"  type="text" name="voto" placeholder=" Valor 01 voto" value="1" required>
                        <button  class="btn btn-outline-dark btnVotar" type="submit">Votar</button>
                    </form>

                </div>
              </div>

            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title text-center">Empreendimento 02</h5>
                    <img class="card-img-top" src="../img/02.jpg" alt="Card image cap">
                    <form method="post">
                        <input  class="stilo-input stiloNone" type="text" name="nome" placeholder="Evian" value="Evian" readonly>
                        <input class="stilo-input stiloNone display-none"  type="text" name="voto" placeholder="Valor 01 voto" value="1" required>
                        <button  class="btn btn-outline-dark btnVotar" type="submit">Votar</button>
                    </form>

                </div>
            </div>

            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title text-center">Empreendimento 03</h5>
                    <img class="card-img-top" src="../img/03.jpg" alt="Card image cap">
                    <form method="post">
                        <input  class="stilo-input stiloNone" type="text" name="nome" placeholder="Olimpia Thermas" value="Olimpia Thermas" readonly>
                        <input class="stilo-input stiloNone display-none"  type="text" name="voto" placeholder="Valor 01 voto" value="1" required>
                        <button  class="btn btn-outline-dark btnVotar" type="submit">Votar</button>
                    </form>

                </div>
            </div>





        </section>
        
    </div>

    
</body>
</html>